.app.dark {
  --bg-color: #3643e0;
  --inverted-bg-color: #cfd1e1;

  --primary-color: #073f07;
  --secondary-color: #02cc02;
  --primary-primary-color: #071db4;
  --primary-secondary-color: #4e59c7;
}
