.app.light {
    --bg-color: #cfd1e1;
    --inverted-bg-color: #3643e0;
    --primary-color: #071db4;
    --secondary-color: #4e59c7;
    --inverted-primary-color: #073f07;
    --inverted-secondary-color: #02cc02;
}
