:root {
    --bg-color: #f4f4fb;
    --inverted-bg-color: #2f3eee;
    --primary-color: #2f3eee;
    --secondary-color: #f4f4fb;
    --inverted-primary-color: #39afea;
    --inverted-secondary-color: #39afea;
}
