.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #ffb371;
    --primary-color: #ff8f21;
    --secondary-color: #fbf7f4;
    --inverted-primary-color: #f51400;
    --inverted-secondary-color: #e53526;
}
